@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --color_lightgrey: #dcdde1;
    --color_lightgreyOpacity: rgba(238, 238, 238, 0.5);
    --color_green: #509a51;
    --color_greenOpacity: rgba(102, 204, 153, 0.7);
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: underline;
}


/* ------------------------------------------------- */
/* HEADER SECTION */
header {
    /* height: 80%; */
    background-image: url("../img/background.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    /* position: relative; */
    /* text-align: center; */
}


/* #backgroundImage {
    /* height: 600px; */
    /* overflow: hidden; */
    /* min-width: 400px; */
    /* width: 300%;
    height: auto;
} */ 

#homepageWelcome {
    color: white; 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    /* top: -400px;
    z-index: 1; */
    width: 100%;
    margin: 0 auto;
    min-height: 500px;
}

h1 {
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 45px;
    position: relative;
    /* top: 100px; */
    /* z-index: 3; */
    color: white;
    margin-top: 100px;
}

#homepageWelcome p {
    font-size: 17px;
}

/* MENU */
#menu {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.fa-bars {
    color: var(--color_lightgrey);
    border: 1px solid var(--color_lightgreyOpacity);
    padding: 5px 10px;
    border-radius: 10%;
    margin: 5px;
}

ul {
    list-style-type: none;
    background-color: white;
}

nav {
    display: none;
}

/* SEARCH BAR */

#searchBar {
    background-color: var(--color_lightgreyOpacity);
    text-align: center;
    width: 95%;
    margin: 0 auto;
    /* padding-top: 5px; */
    position: relative;
    bottom: 20px;
}

.searchItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13px;
    margin: 10px 5px;
    border-radius: 2px;
    background-color: white;
}

/* .fa-calendar-alt {
    background-color: var(--color_lightgrey);
}

searchItem i {
    padding: 10px;
} */

#searchBar a {
    color: white;
    background-color: var(--color_greenOpacity);
    display: block;
    padding: 15px;
}


/* ------------------------------------------------- */
/* MAIN SECTION */

#mainSection {
    width: 90%;
    margin: 30px auto;
}

#totalResult {
    font-size: 24px;
}

#filterButtonDiv {
    display: flex;
    justify-content: end;
}

#filterButton {
    text-align: center;
    background-color: var(--color_lightgrey);
    border-radius: 5px;
    width: 130px;
    padding: 5px;
}
/* #filterButton {
    text-align: right;
    background-color: var(--color_lightgrey);
    border-radius: 2px;
} */


/* CAR CARDS */
.carCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carDescription p, .carDescription h2 { 
    display: none;
} 

.carDescription {
    display: flex;
    justify-content: end;
    align-items: center;
}

.carPriceButton {
    text-align: center;
    background-color: var(--color_green);
    border-radius: 5px;
    width: 150px;
    padding: 5px;
    color: white;
}

aside {
    display: none;
}

/* ------------------------------------------------- */
/* FOOTER SECTION */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    font-size: 12px;
    letter-spacing: 1px;
}

#agencyPicture {
    width: 100px;
    margin-right: 50px;
}



/* ------------------------------------------------- */
/* MEDIA QUERIES */
/* TABLETTE */

/* SEARCH BAR */
@media (min-width: 768px) {
    #searchBar {
        bottom: 200px;
    }
}

/* -------- */
/* LARGE SCREENS */
@media (min-width: 992px) {

    /* HEADER SECTION */   
    header {
        height: 500px;
        background-size: cover;
    }

    /* SEARCH BAR */
    #searchBar {
        display: flex;
        justify-content: space-evenly;
        bottom: 150px;
        width: 70%;
    }

    .searchItem {
        width: 250px;
    }

    #searchBar a {
        width: 300px;
    }
    
    /* ------------------------------------------------- */
    /* MAIN SECTION */
    /* CAR CARDS */

    #mainSection {
        width: 70%;
    }

    h2 {
        font-weight: 300;
    }

    hr {
        border-top: 1px solid var(--color_lightgrey);
    }

    .carCard {
        line-height: 2;
        margin: 50px 0;
    }

    .carDescription {
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .carPriceButton {
        display: block;
        width: 150px;
        margin-top: 20px;
    }
    .carDescription p, .carDescription h2 {
        display: inline;
    }
}
